.Body {
    background-image: url("C:/Users/Rohit/Desktop/no food waste/no-food-waste/frontend/src/assets/Background.jpg");
    background-size: cover;
    background-position: center;
    height:"300px";
    opacity:"1";
}
